body {
  background-color: #fdfbf8;
  position: relative;
  /* Place header at top, content middle and footer at bottom */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden;
}

@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    font-family: $font-family-heading;
    color: $headings-color;
  }
}
a.text-dark {
  &:hover,
  &:focus {
    color: #99ca47 !important;
  }
}
.text-small {
  font-size: $small-font-size;
}

.text-smaller {
  font-size: $smaller-font-size;
}

.text-smallest {
  font-size: $smallest-font-size;
}
.text-normal {
  font-family: $font-family-base;
}
.text-bold {
  font-weight: $font-family-base-bold-weight;
  &-h {
    font-weight: $font-family-base-bold-weight;
    letter-spacing: 1px;
  }
}
.text-bbs {
  font-family: $font-family-heading;
}

.text-long {
  font-family: $font-family-long;
  font-size: 6.25rem;
  line-height: 1;
  color: #d6e2f5;
}

a.text-primary {
  text-decoration: none;
  color: #202629;
}

.text-primary {
  &-light {
    color: $sub-header-color;
  }
}

.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.pt-10 {
  padding-top: 10rem;
}
.ltr-spc {
  letter-spacing: 1.2px;
  &-3 {
    letter-spacing: 3.2px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}

.pdf-btn {
  border: 1px solid #262831;
  border-radius: 100px;
  padding: 0.8rem 3rem 0.8rem 3rem;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: url(../../dist/img/pdf-btn.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    transform: translate(120%, -50%);
    left: 00%;
    top: 50%;
  }
}

.search-btn {
  border-radius: 100px;
  padding: 0.8rem 3rem 0.8rem 3rem;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: url(../../dist/img/search-btn.png);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    transform: translate(120%, -50%);
    left: 00%;
    top: 50%;
  }
}

.menu-spacing-top {
  padding-top: 10rem;
}

.speciality_slick {
  button.slick-arrow {
    background-color: #f15d22;
  }
}
.speciality_slick_wrap {
  position: relative;

  .custom_nav {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 1rem;
    bottom: 1rem;
    i {
      color: #f15d22;
    }
    span {
      display: inline-block;
      background-color: #fff;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      margin: 0.5rem;
      margin-top: 0;
    }
  }
}
