.bi-navbar {
  background-color: transparent;
  /* box-shadow: 0 0 16px 4px rgba(36, 47, 95, 0.1); */
  .navbar-brand.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $black;
    img {
      width: 6rem;
    }
  }
  .dropdown-item {
    text-transform: uppercase;
  }
  .nav-item {
    position: relative;
    .nav-link {
      font-size: $small-font-size;
      text-transform: uppercase;
      &::before {
        content: "";
        width: 0;

        border-radius: 2px;
        position: absolute;
        bottom: 0.25rem;
        transition: width 0.3s ease;
      }

      &:hover,
      &:focus {
        outline: none;
      }

      transition: all 0.3s ease;
    }

    &.active {
      .nav-link {
        color: $primary;
        &::before {
          width: 60%;
        }
      }
    }
    &.btn-order {
      @extend .btn-primary;
      & > a {
        color: $white;
      }
    }
  }
  &.white-nav {
    .nav-item {
      a {
        color: $white;
      }
    }

    .btn-search .fa-magnifying-glass::before {
      color: $white;
    }

    .btn-burger-desktop span {
      background-color: $white;
    }
  }
}

.nav-social {
  margin: 0 1rem;
}

.search-box {
  max-width: 22.5rem;
  margin: auto;
  position: relative;
  transition: all 0.3s;

  input,
  button {
    border: none;
  }

  input {
    font-size: $small-font-size;
    outline: 0;
    border-radius: 26px;
    padding: 0.8rem 1.5rem;
    width: 100%;
  }

  button {
    font-size: 1.2em;
    width: 3rem;
    text-align: center;
    margin: 0;
    color: #000;
    background-color: transparent;

    box-sizing: border-box;
    position: absolute;
    right: 4px;
    top: 2px;
    height: 3rem;
  }
}

.navbar-toggler {
  min-width: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;

  &::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
    color: #000;
  }

  &:focus {
    box-shadow: none;
  }

  &[aria-expanded*="false"] {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  &[aria-expanded*="true"] {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);

    &::before {
      content: "\f00d";
      color: $main-header-color;
    }
  }
}

.dropdown-menu {
  font-size: 0.8125rem;
  border: none;

  & > li {
    &:hover,
    &:focus {
      a {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.nav-menu {
  .dropdown {
    position: relative;
    padding-right: 0.9rem;
    .dropdown-toggle-split {
      position: absolute;
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      top: 2px;
      right: 0;
      padding: 1rem 0.3rem;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .bi-navbar {
    .nav-item {
      .nav-link {
        padding: 0.4rem 1rem;
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }

  .nav-menu {
    .dropdown {
      padding-right: 0;
      display: block;
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    border-top: 1px solid $bg-s-light;
    margin-top: 0.6rem;
    background-color: rgba($bg-s-light, 0.95);
  }

  .copyright {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .bi-navbar {
    .nav-item .nav-link {
      &:hover,
      &:focus {
        outline: none;

        &::before {
          width: 60%;
        }
      }
    }
    .dropdown:hover .dropdown-menu {
      display: block;
      top: 2rem;
    }
  }

  .search-box {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 25px;
    box-sizing: border-box;
    margin: initial;

    input,
    button {
      height: 3rem;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      transition: all 0.3s;
    }

    input {
      width: 0px;
      line-height: 3rem;
      opacity: 0;
      visibility: hidden;
    }

    &:hover,
    &:valid {
      input {
        width: 300px;
        visibility: visible;
        opacity: 1;
      }

      button {
        font-size: 1rem;
        width: 2.2rem;
        height: 2.2rem;
        margin: 6px;
      }
    }
  }

  .nav-footer,
  .bi-social {
    margin-bottom: 0;
  }
}
.fixed-top.navbar-expand-xl + .content {
  padding-top: 4.125rem;
}
@media screen and (min-width: 1200px) {
  .bi-navbar .navbar-brand.logo {
    img {
      width: 11.5rem;
    }
  }
  .nav-menu {
    .dropdown {
      padding-right: 0;
    }
  }
  .fixed-top.navbar-expand-xl + .content {
    padding-top: 6.25rem;
  }
}

// .btn-burger {
//   width: 2.625rem;
//   position: relative;
//   cursor: pointer;
//   margin-left: 1.25rem;
//   transform: rotate(180deg);
//   span {
//     height: 0.1rem;
//     background-color: #000;
//     border-radius: 2px;
//     display: block;
//     &:nth-child(1) {
//       width: 60%;
//     }
//     &:nth-child(2) {
//       width: 100%;
//       margin-top: 0.3rem;
//     }
//     &:last-child {
//       width: 100%;
//       margin-top: 0.3rem;
//     }
//   }
// }

.redtext {
  color: #f15d22 !important;
}

.navbar {
  .nav-link.active {
    font-weight: bold;
    position: relative;
    &:before {
      content: "";
      border: 1px solid #f15d22;
      border-radius: 100% !important;
      width: 0.2rem !important;
      height: 0.2rem !important;
      background-color: #f15d22;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -0);
    }
  }
}

//ss

.mega-menu {
  padding: 0px 0;
  border-bottom: 1px solid #c7aeed;
  font-weight: normal;

  .welcome-mega-menu {
    color: #615f5f;

    font-size: 21px;
    line-height: 1.19;
    position: relative;
    &:after {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      width: 200px;
      max-width: 100%;
      border-bottom: 1px solid #615f5f;
    }
  }
  .blocks {
    margin-left: -20px;
    margin-right: -20px;
    .block {
      padding: 0 20px;
      color: #404040;
      .title {
        color: #404040;
        font-size: 10px;
        letter-spacing: 0.4em;
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 12px;
      }
    }
  }
  .sub-menu {
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 3.8rem;
    .menu-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      a {
        &:not(:hover) {
          color: #f15d22;
        }
      }
    }
  }
}

.main-nav {
  h3 {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .nav {
    align-items: center;
    > .menu-item {
      > a {
        text-transform: capitalize;
      }
    }
  }
  .menu-item {
    &:hover {
      > a {
        color: #f15d22;
        .has-white-header:not(.page-scrolled) & {
          color: #ff67ff;
        }
        &:after {
          transform: rotate(175deg) !important;
          top: 0 !important;
        }
      }
      > .mega-menu {
        opacity: 1;
        visibility: visible;
        transform: scale(1, 1);
        @media screen and (max-width: 992px) {
          padding: 2rem;
        }
      }
    }
    &.current-menu-item {
      > a {
        color: #f15d22;
        font-weight: 500;
        .has-white-header:not(.page-scrolled) & {
          color: #ff67ff;
        }
      }
    }
    &.has-mega-menu {
      > a {
        &:after {
          content: "";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          border: none;
          transition: all 0.3s ease;

          display: inline-block;
          font-size: 0.6em;
          margin-left: 7px;
          top: 0;
          position: relative;

          transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }
      }
    }
    a {
      color: inherit;
      display: block;
      &:hover {
        color: #f15d22;
        .has-white-header:not(.page-scrolled) & {
          color: #f15d22;
        }
      }
    }
    &--shop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover,
      &.current-menu-item {
        > a {
          background-color: #f15d22 !important;
          color: #fff !important;
          &:before {
            filter: brightness(0) invert(1) !important;
          }
        }
      }
      > a {
        background-color: #f15d22;
        color: #fff;
        height: 3rem;
        min-width: 11rem;
        border-radius: 5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.25rem 1rem;
        .page-scrolled & {
          background-color: #f15d22;
          color: #fff;
        }
        .has-white-header:not(.page-scrolled) & {
          background-color: #fff;
          color: #f15d22;
        }
        &:before {
          width: 2rem;
          height: 2.2rem;
          background-image: url(../images/storybook-gradient-purple.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          transition: filter 0.4s ease-in-out;
          content: "";
          filter: brightness(0) invert(1);
          margin-right: 0.5rem;
          .page-scrolled & {
            filter: brightness(0) invert(1);
          }
          .has-white-header:not(.page-scrolled) & {
            filter: initial;
          }
        }
        &:after {
          top: 0.2rem !important;
        }
      }
      .mega-menu {
        .column-left {
          flex: 0 0 28%;
          max-width: 28%;
          margin-right: 0;
        }
        .welcome-mega-menu {
          padding-right: 3rem;
        }
        .sub-menu {
          .menu-item {
            a {
              color: #d61e56;
              &:hover {
                color: #f15d22;
              }
            }
          }
        }
      }
    }
  }
  .mega-menu {
    position: absolute;
    z-index: 999;
    left: 13.5rem;
    right: 7rem;
    box-shadow: 0px 1.5rem 3.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: #f5feff;
    top: 100%;
    padding: 0rem 0rem 0rem 0rem;
    transform: scale(1, 0.85);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out,
      transform 0.3s ease-out;
    .mega-menu-site-logo {
      width: 8rem;
      display: block;
      margin-bottom: 1.9rem;
      mix-blend-mode: multiply;
    }
    .welcome-mega-menu {
      line-height: 1.42;
      font-size: 2.1rem;
    }
    .column-left {
      flex: 0 0 35.333333%;
      max-width: 35.333333%;
    }
    .col-right-wrap {
      padding: 3rem 5rem;
      @media screen and (max-width: 992px) {
        padding: 1rem 2rem;
      }
      h3 {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
    .blocks {
      .block {
        padding: 3rem 5rem;
        @media screen and (max-width: 992px) {
          padding: 1rem 2rem;
        }

        margin-bottom: 0;

        li {
          margin-bottom: 0.3rem;
          a {
            font-size: 1.1rem;
          }
        }
        img {
          padding: 0 1rem;
        }
        .title {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          margin-top: 0;
          text-transform: capitalize;
          font-family: "chapaza";
          letter-spacing: 1px;
        }
      }
    }
    .inline-email-info {
      font-size: 1.2rem;
      .ico {
        width: 4rem;
      }
    }
    .sub-menu {
      .menu-item {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

.bi-navbar .nav-item {
  position: static;
}

.nav-menu > li:nth-child(2) .mega-menu .blocks .block:first-child {
  border-right: 2px dashed #d6d6d6;
}

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  color: #f15d22;
  z-index: 9999;
  overflow: auto;
  font-size: 14px;
  line-height: 1.2;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.75, 0),
    opacity 0.4s cubic-bezier(0.5, 0, 0.75, 0),
    visibility 0.4s cubic-bezier(0.5, 0, 0.75, 0);
  overflow: hidden;
  .menu-open & {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
      opacity 0.4s cubic-bezier(0.25, 1, 0.5, 1),
      visibility 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  }
  a {
    &:not(:hover) {
      color: #f15d22;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .floating-circles {
    position: absolute;
    top: 140px;
    z-index: 1;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  &__header {
    background-color: #fff;
    .top-section-holder {
      border-bottom: 1px solid #c7aeed;
      padding: 10px 0 20px;
      .site-logo {
        display: block;
        width: 95px;
        border-radius: 50%;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
      }
      .mobile-menu-close {
        width: 35px;
        cursor: pointer;
      }
    }
    .btm-section-holder {
      padding: 11px 0;
      margin-bottom: 24px;
      border-bottom: 1px solid #c7aeed;
      position: relative;
      .head-icon-links {
        [class*="item-"] {
          &:not(:last-child) {
            margin-right: 55px;
          }
        }
        .item {
          text-align: center;
          [class^="icon-"],
          [class*=" icon-"] {
            font-size: 22px;
            color: #f15d22;
          }
          .small-txt {
            color: #f15d22;
            font-size: 13.3px;
            line-height: 1.1;
          }
          .count {
            font-size: 12.19px;
            font-weight: 500;
            text-transform: uppercase;
            position: absolute;
            right: -9px;
            line-height: 1;
            top: 0;
          }
        }
        .item-search {
          .search-box {
            position: absolute;
            bottom: -2px;
            transform: translateY(100%);
            left: 0;
            right: 0;
            z-index: 2;
            display: none;
            .form-control {
              background-color: #fff;
              box-shadow: 0 5px 5px rgba(#000, 0.1);
              height: 45px;
              padding: 10px 15px;
              border: none;
            }
          }
        }
      }
    }
  }
  &__body-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__body {
    padding-bottom: 85px;
    position: relative;
    z-index: 1;
    .floating-cloud-left {
      position: absolute;
      width: 67px;
      left: 0;
      bottom: 50px;
      z-index: -1;
    }
    .floating-cloud-right {
      position: absolute;
      width: 83px;
      right: 0;
      top: 20px;
      z-index: -1;
    }

    .main-nav {
      border-bottom: 1px solid #c7aeed;
      padding-bottom: 38px;
      padding-top: 38px;
      margin-bottom: 12px;
      .nav {
        display: block;
        > .menu-item {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
        .menu-item {
          &.has-mega-menu {
            > .item {
              &:after {
                content: "\f107";

                display: inline-block;
                font-size: 0.8em;
                margin-left: 7px;
                top: 2px;
                position: relative;

                transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
              }
            }
          }
          &.mega-menu-open {
            > .item {
              &:after {
                transform: rotate(180deg) !important;
                top: 0;
              }
            }
          }
          .item {
            font-size: 18px;
            font-weight: 500;
          }
          &--shop {
            > .item {
              background-color: #f15d22;
              color: #fff;
              font-size: 1.8rem;
              font-weight: 500;
              min-height: 3rem;
              min-width: 10rem;
              border-radius: 5rem;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              padding: 0.25rem 1rem;
              &:before {
                width: 2rem;
                height: 2.2rem;
                background-image: url(../images/storybook-gradient.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                content: "";
                margin-right: 0.5rem;
              }
            }
          }
        }
        .mega-menu {
          display: none;
        }
      }
    }
  }
  &__footer {
    background-color: #ffdde8;
    padding: 15px 0 25px;
    position: relative;
    margin-top: auto;
    .floating-rainbow {
      position: absolute;
      width: 16.5rem;
      transform: translateX(10%) translateY(-95%);
      right: 0;
      top: 0;
    }
    .copyrightandsiteby {
      color: #404040;
      a {
        color: #ef4e78;
      }
    }
  }
}

.btn-burger {
  width: 4rem;
  display: block;
}

.main-nav .mega-menu .col-right > div:not(:last-child) .block {
  padding-bottom: 0;
}

.mobile-menu__body {
  .mega-menu {
    position: static;
    padding: 1rem 0;
  }
}

.btn-burger-desktop {
  width: 2.625rem;
  position: relative;
  cursor: pointer;
  margin-left: 1.25rem;
  transform: rotate(180deg);
}
.btn-burger-desktop span {
  height: 0.1rem;
  background-color: #000;
  border-radius: 2px;
  display: block;
}

.btn-burger-desktop span:nth-child(2) {
  width: 100%;
  margin-top: 0.3rem;
}
.btn-burger-desktop span:nth-child(1) {
  width: 60%;
}

.btn-burger-desktop span:last-child {
  width: 100%;
  margin-top: 0.3rem;
}
.white-nav {
  .black-logo {
    display: none;
  }
  .mail-icon {
    rect {
      fill: #fff;
    }
    path {
      fill: #000;
    }
  }
}
.fixednav {
  & > nav {
    background: #fff;
    .white-logo {
      display: none;
    }
    .black-logo {
      display: block;
    }
  }

  & > nav {
    &.white-nav {
      .btn-search .fa-magnifying-glass::before {
        color: #000;
      }
      .mail-icon {
        rect {
          fill: #000;
        }
        path {
          fill: #fff;
        }
      }
      .nav-item {
        a {
          color: #000;
        }
      }
    }
  }
}
