.video-w-poster::after {
  content: "";
  background-color: transparent;
  background-image: url(../img/icon-play.svg);
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  inset: 0;
}
.video-w-poster {
  position: relative;
  display: block;
  @media screen and (min-width: 1200px) {
    img {
      height: 38rem;
      object-fit: cover;
      border-radius: 20px 0px 0px 20px;
    }
  }
}
.card-footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  img {
    height: 2rem;
  }
}
.my-custom-nav {
  &.custom_nav_container {
    display: block;
    .fake-next {
      background-color: transparent;
      height: auto;
      &:before {
        display: none;
      }
      i {
        color: #262831;
      }
    }
    .fake-prev {
      background-color: transparent;
      height: auto;
      margin-right: 0;
      &:before {
        display: none;
      }
      i {
        color: #262831;
      }
    }
  }
}

.clients_slick {
  .client-item {
    border-radius: 5px;
    .card-footer {
      border-radius: 0px 0 20px 20px;
    }
  }
}

.contact-form {
  .contact-wrap {
    background: url(../img/form-background.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 20px;
    padding-left: 2rem;
    min-height: 40rem;
    @media screen and (min-width: 1200px) {
      min-height: 40rem;
      padding-left: 5rem;
    }
    @media screen and (max-width: 768px) {
      padding-left: 0rem;
    }
  }
}

.newsletter-wrap {
  .newsletter-inner {
    padding: 3rem;
    background: url(../img/black-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    @media screen and (min-width: 1200px) {
      width: 90%;

      margin: auto;
    }
  }

  form {
    position: relative;
  }
  input {
    appearance: none;
    width: 100%;
    border-radius: 50px;
    padding: 1rem 2rem;
  }
  button {
    background-color: #f15d22;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    height: 60%;

    transform: translate(-10%, -68%);
    padding: 0 2rem;
    transition: all 0.3s ease;
  }
}

input[type="submit"] {
  background-color: #f15d22;
  border: 0;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  text-transform: uppercase;
}
input,
textarea {
  border-radius: 25px !important;
  border: none !important;
}
.contact-form {
  input {
    margin-bottom: 1rem;
  }
  .file-drop-wrap {
    input {
      margin-bottom: 0;
    }
  }
  input[type="submit"] {
    float: right;
    margin-top: -3rem;
    margin-right: 0.5rem;
  }
}
h1 {
  .underlined {
    &::before {
      bottom: 0;
      transform: translate(0px, -10px);
    }
  }
}
.underlined {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translate(0px, -10px);
    left: 0;
    border-bottom: 3px solid #f15d22;
    width: 100%;
    height: 3px;
  }
}

.fabric-chooser {
  background: url(../img/home-video.png);
  background-repeat: no-repeat;
  background-size: cover !important;
  @media screen and (min-width: 1200px) {
    min-height: 40rem;
  }
  .box-content-wrap {
    background: #fff;
    padding: 2.5rem;
    border-radius: 20px;
  }
}

.btn-search {
  .fa-magnifying-glass::before {
    color: #272830;
  }
}

.contact-us-menu {
  img {
    margin-right: 0.5rem;
  }
}

.fixedbtn-wrap {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 9999;

  transform: translate(34%, -0px);
  color: #fff;
  .fixedbtn {
    padding: 1rem 2rem;
    background-color: #f15d22;
    transform: rotate(270deg);
    border-radius: 20px 20px 0px 0;
    a {
      color: #fff;
      i {
        margin-right: 1rem;
      }
    }
  }
}
.box-content-wrap {
  position: relative;
}

.box-content-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 10rem;
  border-left: 5px solid #f15d22;
  width: 10rem;
  border-top: 5px solid #f15d22;
  border-radius: 20px 0 0 0;
}

.box-content-wrap:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 10rem;
  border-right: 5px solid #f15d22;
  width: 10rem;
  border-bottom: 5px solid #f15d22;
  border-radius: 0px 0px 20px 0px;
}

.client-item {
  position: relative;
}

.client-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 7rem;
  border-left: 2px solid #f15d22;
  width: 7rem;
  border-top: 2px solid #f15d22;
  border-radius: 20px 0 0 0;
}

.client-item:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 7rem;
  border-right: 2px solid #f15d22;
  width: 7rem;
  border-bottom: 2px solid #f15d22;
  border-radius: 0px 0px 20px 0px;
}

.banner-desc {
  @media screen and (min-width: 1200px) {
    margin-bottom: 5rem;
  }
}
.hero-banner {
  .video-container {
    position: relative;
    .floating-line1 {
      @media screen and (max-width: 1200px) {
        display: none;
      }
      @media screen and (max-width: 1400px) {
        width: 39rem;
      }
      position: absolute;

      right: 82%;
      top: 75%;
      svg {
        width: 70rem;
        height: 33rem;
        @media screen and (max-width: 1600px) {
          width: 60rem;
          height: 33rem;
        }
      }
    }
  }
}

.fabric-chooser-wrap {
  position: relative;
  .floating-line-3 {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @media screen and (max-width: 1400px) {
      width: 39rem;
    }
    position: absolute;
    width: 60rem;
    left: -5rem;
    top: 104%;
    img {
      width: 100%;
    }
  }
}

.social-nav {
  @media screen and (max-width: 1400px) {
    margin: 1.5rem 0;
  }
}

.copyright {
  @media screen and (max-width: 1400px) {
    text-align: left;
  }
}
.nav-footer {
  @media screen and (max-width: 1400px) {
    padding-top: 1rem;
  }
}
footer .nav-footer li a {
  @media screen and (max-width: 1400px) {
    padding-left: 0;
  }
}

footer .nav-footer li {
  @media screen and (max-width: 768px) {
    border-right: 0;
  }
}

.c-card {
  .card-footer {
    background-color: #262831;
    .card-logo-wrap {
      height: 4rem;
      position: absolute;
      padding: 1rem;
      bottom: 0;
      left: 50%;
      text-align: center;
      right: auto;
      background-color: #262831;
      overflow: hidden;
      width: 100%;
      transition: 0.5s ease;
      transform: translate(-50%, 0);
      align-items: center;
      justify-content: center;
      border-radius: 0px 0px 20px 20px;
      .card-logo {
        display: inline-block;
      }
    }
  }
  &:hover {
    .card-logo-wrap {
      height: 100%;
      display: flex;
      border-radius: 20px 20px 20px 20px;
    }
  }
}

.c-card:hover .card-logo-wrap:before {
  position: absolute;
  width: 90%;
  height: 90%;
  content: "";
  border: 2px dashed #fff;
  border-radius: 20px;
}

.panel {
  @media screen and (min-width: 1200px) {
    height: 100vh;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.panel {
  @media screen and (max-width: 1200px) {
    height: auto !important;
  }
}

.newsletter-wrap {
  @media screen and (max-width: 1200px) {
    width: 100% !important;
  }
}

.animate__svg {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  animation: dash 3s linear alternate;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate__svg3 {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  animation: dash3 3s linear alternate;
}

@keyframes dash3 {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.banner-wrap {
  position: relative;
  .full-banner-title {
    width: auto;
    position: absolute;
    left: 0;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    background: $white;
    padding: 2rem;
  }
}
.resource-wrap-inner {
  border: 2px #d6d6d6 dashed;
  padding: 4rem;
  border-radius: 10px;
}

.resources-section .resource-wrap {
  padding: 1rem;
  background: #fff;
  border-radius: 30px;
}

.resources-section {
  background: url(../img/resource-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.resources-section > .container:before {
  top: 0;
  left: 0.9rem;
  border-width: 2px 0 0 2px;
  border-radius: 25px 0 0 0;
}

.resources-section > .container:after {
  top: 0;
  right: 0.9rem;
  border-width: 2px 2px 0 0;

  border-radius: 0 25px 0 0;
}

.resources-section > .container {
  position: relative;
}
.resources-section > .container:before,
.resources-section > .container:after,
.resources-section > .container > :first-child:before,
.resources-section > .container > :first-child:after {
  position: absolute;
  width: 80px;
  height: 80px;
  border-color: #f15d22;
  border-style: solid;
  content: " ";
}

.resources-section > .container > :first-child:before {
  bottom: 0;
  right: 0.9rem;
  border-width: 0 2px 2px 0;
  border-radius: 0 0 25px 0;
}
.resources-section > .container > :first-child:after {
  bottom: 0;
  left: 0.9rem;
  border-width: 0 0 2px 2px;
  border-radius: 0 0 0 25px;
}

.resource-wrap-inner > .row {
  align-items: center;
}

.resource-wrap-inner > .row span,
.resource-wrap-inner > .row h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.resource-wrap-inner > .row span {
  color: #c9c9c9;
}

#hospitality-manualTabContent .block-title {
  font-size: 1.7rem;
}

.contact-form.panel.last {
  @media (min-width: 768px) {
    margin-bottom: -7rem;
  }
}

.speciality_slick .slick-slide {
  height: 30rem;
}

.speciality_slick .slick-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  object-position: center;
}

@media (min-width: 768px) {
  .banner-desc h1 {
    font-size: 4rem;
  }
}
.breadcrumb-page SPAN {
  margin-right: 1rem;
  margin-left: 1rem;
}
.breadcrumb-page U {
  font-family: "proxima-light";
  color: #808080;
  font-size: 1rem;
}
.no-underline {
  text-decoration: none !important;
}

@media screen and (min-width: 1200px) {
  .banner-desc {
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .collapse {
    visibility: visible !important;
  }
}

.banner-wrap .centered-banner-title {
  width: auto;
  position: absolute;
  left: 50%;
  /* border-radius: 20px 20px 0 0; */
  top: 50%;
  /* background: #fff; */

  transform: translate(-50%, -50%);
}

.banner-wrap .centered-banner-title h2 {
  color: #fff;
}
.detail-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -10%);
  padding-left: 2rem;
  h4 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}
.project-item {
  padding-top: 100%;
  height: 0;
  position: relative;
  border-radius: 20px;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}
.search-projects {
  position: relative;
  SVG {
    PATH {
      fill: #ffffff65;
    }
  }
}
.search-projects button {
  height: 3rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  transition: all 0.3s ease;
  background: transparent;
  border: 0;
}
.search-projects input {
  width: 100%;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0rem;
  background: transparent;
  padding-left: 3rem;
  border: 1px solid #ffffff65 !important;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.navbar .collapse {
  visibility: visible;
}
@media screen and (max-width: 991px) {
  nav.navbar.bi-navbar {
    background-color: #ffffff;
  }
  .video-w-poster {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    overflow: hidden;
  }

  .scroller .fabric-chooser-wrap {
    height: auto !important;
    margin-bottom: 6rem;
  }
}

.text-\[45px\] {
  @media screen and (max-width: 991px) {
    font-size: 33px !important;
  }
}
.text-\[48px\] {
  @media screen and (max-width: 991px) {
    font-size: 35px !important;
  }
}

.text-\[30px\] {
  @media screen and (max-width: 991px) {
    font-size: 24px !important;
  }
}

.contact-form .contact-wrap h2 {
  @media screen and (max-width: 991px) {
    max-width: 16rem;
  }
}

.contact-form .contact-wrap {
  @media screen and (max-width: 991px) {
    background-position: 53% 0;
    border-radius: 40px;
  }
}

.contact-form .contact-wrap:after {
  @media screen and (max-width: 991px) {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffffa6;
    content: "";
    top: 0;
  }
}
.contact-form .contact-wrap > div {
  position: relative;
  z-index: 1;
}
.file-drop-wrap {
  @media screen and (max-width: 991px) {
    margin-bottom: 1rem;
  }
}
body .scroller section {
  @media screen and (max-width: 991px) {
    height: auto !important;
  }
}

.newsletter-wrap .row h3 {
  @media screen and (max-width: 991px) {
    margin-bottom: 1rem;
  }
}

.newsletter-wrap button {
  @media screen and (max-width: 991px) {
    transform: translate(-10%, -50%);
  }
}
.newsletter-wrap .newsletter-inner {
  @media screen and (max-width: 991px) {
    padding: 3rem 0;
  }
}

.our_clients {
  .custom_nav {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .my-custom-nav {
    p {
      @media screen and (max-width: 991px) {
        margin-bottom: 2rem;
      }
    }
  }
}

section.contact-form {
  @media screen and (max-width: 991px) {
    margin-top: 4rem;
  }
}

.contact-form .contact-wrap {
  @media screen and (max-width: 991px) {
    padding: 4rem 0;
  }
}

textarea.form-control {
  @media screen and (max-width: 991px) {
    min-height: calc(8em + 1.4rem + 2px);
  }
}

footer h3 {
  @media screen and (max-width: 991px) {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}

.fixedbtn-wrap {
  @media screen and (max-width: 991px) {
    right: 0;
    top: 50%;
    transform: translate(-10%, 0px);
  }
  .h-\[174px\] {
    @media screen and (max-width: 991px) {
      height: 70px;
    }
  }

  .fixedbtn {
    @media screen and (max-width: 991px) {
      transform: none;
      border-radius: 50%;
    }
  }
}
.bottom-footer {
  @media screen and (max-width: 991px) {
    text-align: center;
    justify-content: center;
  }
  * {
    @media screen and (max-width: 991px) {
      text-align: center;
      justify-content: center;
    }
  }
}

//mobile menu
nav.mobile-nav svg {
  stroke: #000;
}
nav.mobile-nav {
  background-color: #fff;
  height: 50px;
  padding: 0 16px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  /* fade in checked menu */
}
nav.mobile-nav .m-menu__checkbox {
  display: none;
}
nav.mobile-nav label.m-menu__toggle {
  cursor: pointer;
}
nav.mobile-nav .m-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  width: calc(100vw - 30px);
  height: 100%;
  -moz-transform: translate3d(-450px, 0, 0);
  -o-transform: translate3d(-450px, 0, 0);
  -ms-transform: translate3d(-450px, 0, 0);
  -webkit-transform: translate3d(-450px, 0, 0);
  transform: translate3d(-450px, 0, 0);
  -moz-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  -webkit-transition: transform 0.35s;
  transition: transform 0.35s;
  z-index: 1;

  background-color: #fff;
}
nav.mobile-nav .m-menu__overlay {
  background-color: rgba(103, 103, 103, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  display: none;
}
nav.mobile-nav .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
nav.mobile-nav .m-menu__header span {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
nav.mobile-nav .m-menu .m-menu {
  -moz-transform: translate3d(480px, 0, 0);
  -o-transform: translate3d(480px, 0, 0);
  -ms-transform: translate3d(480px, 0, 0);
  -webkit-transform: translate3d(480px, 0, 0);
  transform: translate3d(480px, 0, 0);
}
nav.mobile-nav .m-menu ul {
  height: 100%;
  overflow-y: auto;
}
nav.mobile-nav .m-menu ul li a,
nav.mobile-nav .m-menu ul li label {
  display: block;
  text-align: left;
  padding: 0 15px;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
nav.mobile-nav .m-menu ul li label.a-label__chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
}
nav.mobile-nav .m-menu ul li .-invisible {
  border-bottom: 0;
}
nav.mobile-nav .m-menu .m-menu label.m-menu__toggle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
nav.mobile-nav .m-menu__checkbox:checked ~ .m-menu__overlay {
  display: block;
}
nav.mobile-nav .m-menu__checkbox:checked ~ .m-menu {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mobile-menu-wrapper {
  z-index: 9999;
  display: none;
  @media screen and (max-width: 991px) {
    display: block;
  }
}

.m-menu {
  h6 {
    padding: 35px 15px 15px 15px;
  }
  .col-right-wrap {
    padding: 4rem;
    * {
      color: #fff;
    }
  }
}
