:root {
    --primary: #F15D22;
    --body-color: #262831;
}

u.underline-primary {
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

.mt-n-3r {
    margin-top: -3rem;
}

.filter-input-container input[type="checkbox"] {
    display: none;
}

.filter-openness_range {
    input {
        width: 100%;
    }
}

.filter-input-container label {
    position: relative;
    padding: 0.2rem 0.5rem 0.2rem 2.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
    border-radius: 1rem;
}

.filter-input-container input:checked+label,
.filter-input-container label:hover {
    background-color: #F8F8F8;
}

.filter-input-container label::before {
    content: '';
    position: absolute;
    left: 0.7rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.filter-input-container input:checked+label::before,
.filter-input-container label:hover::before {
    background-color: var(--primary);
    border-color: var(--primary);
}

.filter-input-container input:checked+label::after,
.filter-input-container label:hover::after {
    content: url("data:image/svg+xml,<svg width='10px' height='10px' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><path d='M6.47 11.35l7.94-8.382c.57-.6 1.52-.627 2.122-.057.6.57.627 1.52.057 2.123l-9 9.5-.016.014-.014.015c-.58.582-1.52.586-2.106.015l-.02-.02-3.995-3.994c-.587-.585-.587-1.535 0-2.12.584-.586 1.534-.586 2.12 0l2.91 2.91z' fill='white' fill-rule='evenodd'/></svg>");
    position: absolute;
    left: 14px;
}

.filter-title {
    position: relative;
    cursor: pointer;
}

.filter-title::before {
    content: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='14px' y='14px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;'><path fill='%23EF5E2F' id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/></svg>");
    position: absolute;
    right: 0;
    width: 1rem;
    transition: all 0.3s ease;
}

.filter-title.active::before {
    transform: rotate(180deg);
}

.fabric-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #91919119;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
    display: block;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        background: #fafafa;
        box-shadow: 0px 0px 16px #91919166;
    }

    .fabric-img-container {
        width: 100%;
        padding-top: 100%;

        .fabric-img {
            position: absolute;
            height: auto;
            width: 100%;
            top: 0;
        }
    }

    p {
        color: #262831;
    }

    span {
        color: #808080;
    }

    .fabric-pin {
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        border-radius: 7px;
        position: absolute;
        z-index: 2;
        display: block;
        right: 1rem;
        top: 1rem;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
            background: #fafafa;
        }

        &::before {
            content: url('data:image/svg+xml,<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5538 2.66232C14.4174 1.85314 15.75 1.85663 16.6089 2.64211L16.7341 2.7658L21.4991 7.85135C21.6191 7.97942 21.7237 8.12108 21.8108 8.27345C22.4005 9.30545 22.0832 10.6078 21.1103 11.2587L20.9736 11.3433L16.0771 14.1413C15.9593 14.2086 15.8626 14.3062 15.7964 14.4232L15.7526 14.5144L13.9505 19.028C13.7641 19.4949 13.1888 19.6418 12.8033 19.3497L12.7237 19.2804L9.48597 16.0442L4.53489 21.0033L3.46997 21L3.47201 19.9449L8.42497 14.9832L5.22008 11.7804C4.86452 11.425 4.95639 10.8384 5.37685 10.5992L5.47194 10.5535L9.96721 8.7569C10.0987 8.70436 10.2119 8.61598 10.2946 8.50278L10.3506 8.4134L13.1069 3.24538C13.2229 3.02786 13.3739 2.83088 13.5538 2.66232ZM20.4045 8.87696L15.6395 3.7914C15.3563 3.48914 14.8817 3.4737 14.5794 3.75691C14.5394 3.79437 14.5037 3.83604 14.4729 3.88114L14.4304 3.95127L11.6742 9.11929C11.4521 9.53569 11.1055 9.87036 10.685 10.078L10.5239 10.1498L7.08541 11.524L12.9793 17.4151L14.3596 13.9582C14.5246 13.5449 14.8079 13.1911 15.172 12.9401L15.3329 12.8389L20.2293 10.0409C20.589 9.83544 20.7139 9.3773 20.5084 9.01766L20.4606 8.94427L20.4045 8.87696Z" fill="%23EF5E2F"/></svg>');
            position: absolute;
            top: 3px;
            right: 4px;
            width: 1rem;
        }

    }
}

.filter-left {
    display: flex;
    align-items: center;
}

.color-search {
    display: flex;
    align-items: center;
    padding: 12px 1rem;
    margin-right: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #91919119;
    border-radius: 100px;
    min-width: 130px;
    cursor: pointer;

    .color-selector {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 0.5rem;
        position: relative;
        background: transparent conic-gradient(from 90deg at 50% 50%, #FFD64D 0.00%, #52FFEC 28.57%, #5F8AFF 56.65%, #9D2AFF 79.80%, #FF1755 100.00%) 0% 0% no-repeat padding-box;

        &::before {
            content: '';
            width: 14px;
            height: 14px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            left: 3px;
            top: 3px;
        }
    }
}

.grid-toggle {
    max-height: 2rem;
    margin-left: 1rem;
    opacity: 0.5;
    cursor: pointer;

    &.active {
        opacity: 1;
    }
}

.filter-sortby-container {
    max-height: 48px;
    position: relative;
    z-index: 3;
}

.filter-sortby {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px rgba(145, 145, 145, .1);
    border-radius: 22px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    span {
        padding: 12px 1rem;
        display: block;
        position: relative;

        &::before {
            content: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='14px' y='14px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;'><path fill='%23EF5E2F' id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/></svg>");
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 1rem;
            transition: all 0.3s ease;
        }
    }

    ul {
        height: 0px;
        overflow: hidden;
        padding: 0 1rem;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover,
    &:focus {
        span::before {
            top: 0.5rem;
            transform: rotate(180deg);
        }

        ul {
            opacity: 1;
            height: 110px;
            overflow: visible;
        }
    }
}

.fabric-col {
    transition: all 0.3s ease;
}

.filter-grid,
.filter-toggle-close {
    display: none;
}

.filter-toggle {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    padding: 12px 1rem;
    position: relative;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;

    &::before {
        content: url("data:image/svg+xml,<svg width='24px' height='24px' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><g data-name='Layer 24' id='Layer_24'><path d='M10,12H6a1,1,0,0,1-1-1V7A1,1,0,0,1,6,6h4a1,1,0,0,1,1,1v4A1,1,0,0,1,10,12ZM7,10H9V8H7Z'/><path d='M6,8.47V11h4V8.47a2.11,2.11,0,0,1-2,1A2.11,2.11,0,0,1,6,8.47Z'/><path d='M21,15.47V18h4V15.47a2.11,2.11,0,0,1-2,1A2.11,2.11,0,0,1,21,15.47Z'/><path d='M6,22.47V25h4V22.47a2.11,2.11,0,0,1-2,1A2.11,2.11,0,0,1,6,22.47Z'/><path d='M29,10H10a1,1,0,0,1,0-2H29a1,1,0,0,1,0,2Z'/><path d='M6,10H3A1,1,0,0,1,3,8H6a1,1,0,0,1,0,2Z'/><path d='M10,26H6a1,1,0,0,1-1-1V21a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v4A1,1,0,0,1,10,26ZM7,24H9V22H7Z'/><path d='M6,24H3a1,1,0,0,1,0-2H6a1,1,0,0,1,0,2Z'/><path d='M29,24H10a1,1,0,0,1,0-2H29a1,1,0,0,1,0,2Z'/><path d='M25,19H21a1,1,0,0,1-1-1V14a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v4A1,1,0,0,1,25,19Zm-3-2h2V15H22Z'/><path d='M21,17H3a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z'/><path d='M29,17H25a1,1,0,0,1,0-2h4a1,1,0,0,1,0,2Z'/></g></svg>");
        position: absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        transition: all 0.3s ease;
    }
}

/* Custom Range */
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent linear-gradient(90deg, #842905 0%, #E06736 59%, #FFB967 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 4px solid var(--primary);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent linear-gradient(90deg, #842905 0%, #E06736 59%, #FFB967 100%) 0% 0% no-repeat padding-box;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent linear-gradient(90deg, #842905 0%, #E06736 59%, #FFB967 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 4px 0px var(--primary);
    border: 4px solid var(--primary);
    height: 14px;
    width: 14px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: transparent linear-gradient(90deg, #842905 0%, #E06736 59%, #FFB967 100%) 0% 0% no-repeat padding-box;
    border: 0px solid #000000;
    border-radius: 40px;
}

input[type=range]::-ms-fill-upper {
    background: transparent linear-gradient(90deg, #842905 0%, #E06736 59%, #FFB967 100%) 0% 0% no-repeat padding-box;
    border: 0px solid #000000;
    border-radius: 40px;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 4px solid var(--primary);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: transparent linear-gradient(90deg, #842905 0%, #E06736 59%, #FFB967 100%) 0% 0% no-repeat padding-box;
}

input[type=range]:focus::-ms-fill-upper {
    background: transparent linear-gradient(90deg, #842905 0%, #E06736 59%, #FFB967 100%) 0% 0% no-repeat padding-box;
}

.list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.pagination {
    display: flex;
    align-items: center;

    a {
        color: var(--body-color);
        background-color: $white;
        width: 3rem;
        height: 3rem;
        margin-right: 0.25rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
            background-color: var(--body-color);
            color: $white;

            svg {
                path {
                    fill: $white;
                }
            }

            .color_title {
                color: #262831;
            }
        }
    }

    svg {
        max-height: 1rem;

        path {
            fill: var(--primary);
        }
    }
}

.list-data-shown {
    color: #808080;
}

.color-selected {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    li {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    input {
        display: none;
    }

    label {
        width: 3.5rem;
        height: 3.5rem;
        background-color: #ffffff;
        border: 1px solid #F8F8F8;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;

        span {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            transition: all 0.3s ease;
        }

        &::before {
            content: '';
            width: 0.875rem;
            height: 0.875rem;
            position: absolute;
            background-color: $white;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
        }
    }

    label:hover,
    input:checked+label {
        border-color: #262831;

        &::before {
            width: 1.25rem;
            height: 1.25rem;
        }

        &::after {
            content: url("data:image/svg+xml,<svg width='10px' height='10px' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><path d='M6.47 11.35l7.94-8.382c.57-.6 1.52-.627 2.122-.057.6.57.627 1.52.057 2.123l-9 9.5-.016.014-.014.015c-.58.582-1.52.586-2.106.015l-.02-.02-3.995-3.994c-.587-.585-.587-1.535 0-2.12.584-.586 1.534-.586 2.12 0l2.91 2.91z' fill='%23f15d22' fill-rule='evenodd'/></svg>");
        }
    }

    .color_title {
        font-size: 9px;
        text-align: center;
    }
}

.light-netural {
    background-color: #E4EBF4;
}

.black-gray {
    background-color: #363636;
}

.tan-taupe {
    background-color: #B6A681;
}

.green {
    background-color: #808080;
}

.blue {
    background-color: #5277F5;
}

.metalic {
    background: transparent linear-gradient(144deg, #262626 0%, #959595 50%, #7B7B7B 51%, #EDEDED 100%) 0% 0% no-repeat padding-box;
}

.multi-color {
    background: transparent conic-gradient(from 90deg at 50% 50%, #FFD64D 0.00%, #52FFEC 28.57%, #5F8AFF 56.65%, #9D2AFF 79.80%, #FF1755 100.00%) 0% 0% no-repeat padding-box;
}

.white {
    background-color: #F8F8F8;
}

.brown {
    background-color: #896962;
}

.red {
    background-color: #CB4040;
}

.orange {
    background-color: #F89743;
}

.yellow {
    background-color: #F2D65F;
}

.purple {
    background-color: #9D40BF;
}

.pink {
    background-color: #F88FCC;
}

.hero-banner-page {
    .hero-img {
        height: 50vh;
        object-fit: cover;
    }
    .pattern{
        height: 100%;
        top: 0;
    }
    img{
        height: 100%;
        object-fit: cover;
    }
}
p{
    color: var(--body-color);
}

@media screen and (min-width: 1200px) {
    .filter-grid {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {

    .filter-container {
        display: block;
    }

    .filter-toggle {
        display: none;
    }

    .color-search {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .filter-container {
        position: fixed;
        top: 3rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background: #fafafa;
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        transform: translateX(100%);
        overflow: scroll;
        transition: all 0.3s ease;

        .filter-toggle-close {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }

        &.active {
            transform: translateX(0);
        }
    }
}