.btn {
  --bs-btn-border-radius: 2rem;
  text-transform: uppercase;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  color: $white;
}

.btn.btn-white {
  @include button-white-variant();
  &:hover,
  &:focus{
    border-color: var(--body-color);
    background-color: var(--body-color);
    color: $white;
  }
}
.btn.btn.btn-outline-white {
  @include button-outline-white-variant();
  border-color: var(--body-color);
  color: var(--body-color);
  &:hover,
  &:focus{
    border-color: var(--body-color);
    background-color: var(--body-color);
    color: $white;
  }
}