@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

@font-face {
  font-family: "avenir-regular";
  src: url(../fonts/avenir/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "avenir-bold";
  src: url(../fonts/avenir/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "feelthat-regular";
  src: url(../fonts/feelthat/feelthat.ttf);
}

@font-face {
  font-family: "noir";
  src: url(../fonts/noir/Regular.ttf);
}

@font-face {
  font-family: "proxima";
  src: url(../fonts/proxima/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: "chapaza";
  src: url(../fonts/chapaza/Chapaza-Regular.ttf);
}
